* {
	box-sizing: border-box;
}

a { text-decoration: none; }

body {
	font: 12px/16px "Tahoma",sans-serif;
	color: #8f8f8f;
	background: transparent url(../img/background.png);
	margin: 0;
	border-top: 5px solid #7e7e7e;
	
}

hr {
	display: block;
	/* border-color: #919191; */
	border: 1px solid #919191;
	margin: 0;
}
/* delete */
#fillblock {
	background-color: black;
}

#container {
	max-width: 960px;
	margin: auto;
}

#header {
	margin-bottom: 30px;
	padding-top: 25px;
}

#logo-search {
	display: flex;
	justify-content: space-between;
	height: 38px;
	margin-bottom: 27px;
}

form * {
	height: 32px;
}

input {
	color: #b2b2b2;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	vertical-align: top;
	padding: 10px;
}
input[type="text"]::-moz-placeholder { color: #b2b2b2; }
input[type="text"]::-webkit-input-placeholder { color: #b2b2b2; }
input[type="text"]:-ms-input-placeholder { color: #b2b2b2; }
input[type="text"]::-ms-input-placeholder { color: #b2b2b2; }
input[type="text"]::placeholder { color: #b2b2b2; }

#logo-search button {
	font-family: "Oswald",sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: #29c5e6;
	border: none;
}

nav ul{
	list-style: none;
	display: flex;
	background-color: #f3f3f3;
	padding: 0;
	height: 40px;
}
nav li {
	text-align: center;
	width: 120px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
nav li:last-child {border-right: 1px solid #e7e7e7;}
nav a {
	font-family: "Oswald",sans-serif;
	font-size: 14px;
	color: #b2b2b2;
	line-height: 40px;
}
.active { background-color: #29c5e6; border: none; }
.active a { color: white; }

#banner {
	margin: 30px 0;
	color: #5a5a5a;
	font: 300 42px/16px "Oswald",sans-serif;
	text-transform: uppercase;
}
#banner figure {
	margin: 0;
	position: relative;
}
#banner figure div {
	position: absolute;
	left: 40px;
	top: 40px;
}
#banner figcaption {
	margin-bottom: 15px;
}
#banner figure span {
	font-size: 20px;
	color: #acacac;
	text-transform: none;
}

#banner-nav {
	color: #8f8f8f;
	font-size: 18px;
	background-color: #f3f3f3;
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
	border-bottom: 1px solid #e7e7e7;
}
#banner-nav span {margin:0 12px;}
#banner-nav div div{
	background-color: #8f8f8f;
	color: white;
	font-size: 16px;
	margin-left: 12px;
	width: 24px;
	height: 24px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
}

#banner-nav .active {
	color: #29c5e6;
	background-color: #f3f3f3;
}

#banner-nav .active div { background-color: #29c5e6; }

.main {
	margin: 30px 0 50px;
}

.main__container {
	display: flex;
	justify-content: space-between;
}

.main__item {
	max-width: 460px;

}
.main__item_small { 
	max-width: 300px; 
}
.main__item-header {
	font-family: "Oswald",sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 20px;
	color: #7e7e7e;
	overflow: hidden;
	text-transform: uppercase;
}
.main__item-header::before {
	content: '';
	display: inline-block;
	background-color: #29c5e6;
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
.main__item-header::after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: -100%;
	margin-left: 10px;
	width: 100%;
	height: 20px;
	background: transparent url(../img/h1-bg.png);
}
.main__figure {
	margin: 0;
	display: flex;
	margin-bottom: 10px;
}
.main__img {
	min-width: 140px;
	height: 140px;
	outline: 1px solid #c9c9c9;
	border: 1px solid #fff;
	margin-right: 20px;
}
.main__img_small {
	min-width: 40px;
	height: 40px;
	margin-right: 10px;
}

.main__team-title {
	color: #525252;
}
.main__text-block {
	display: flex;
	flex-direction: column;
	height: 145px;
	/* min-height: 100%; */
}
.main__text-block_small {
	font-size: 11px; 
	line-height: 1.2;
	height: auto;
}
.main__siqnature {
	color: #525252;
	font-size: 12px;
	margin-top: auto;
}
.main__link {
	text-decoration: underline;
}

.clients {
	display: block;
	margin: 0 auto;
}

footer {
	margin: 0;
	margin-top: 52px;
	background-color: #7e7e7e;
	height: 122px;
	clear: both;
}

#footer {
	width: 960px;
	margin: auto;
}

#footer div {
	display: inline-block;
	max-width: 300px;
}

#footer>div {
	vertical-align: top;
	margin-right: 20px;

}

#footer h3 {
	font: 14px "Oswald",sans-serif;
	color: #fff;
	border-bottom: 1px solid #919191;
	margin-bottom: 10px;
}

#footer p, #footer a {
	color: #dbdbdb;
	font-size: 11px;
}
#footer p {
	margin-bottom: 0;
}
#footer time {
	color: #b0abab;
	text-decoration: underline;
}

.map:first-of-type {
	margin-right: 42px;
}

.map a {
	display: block;
	margin-bottom: 10px;
}

.social-networks {
	width: 110px;
}

.big-icon {
	margin-bottom: 8px;
}

#footer-logo {
	float: right;
	margin: 30px 0;
	text-align: right;

}
#footer #footer-logo {
	margin-right: 0;
}
#footer-logo p {
	margin: 0;
	font-size: 10px;
	color: #dbdbdb;
}